<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/jquery-ui.css" rel="stylesheet">
    <script src="static/jquery.min.js"></script>
    <script src="static/jquery-ui.js"></script>
    <script src="static/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
  	<div id="content" class="container-fluid">
  		<div id="banner" class="row">
  			<div class="span12">
  				{% block header %}
  				{% endblock %}
  			</div>
  		</div>
		<div class="span12">
			{% block content %}{% endblock %}
		</div>
	  		<div class="span12">
				{% with messages = get_flashed_messages() %}
				  {% if messages %}
				    {% for message in messages %}
						{{ message }}
				    {% endfor %}
				  {% endif %}
				{% endwith %}
			  </div>
	  </div>


  </body>
</html>