{% extends "layout.html" %}
{% block title %} New User Registration {% endblock %}
{% block header %} <h4>New User Registration</h4> {% endblock %}
{% block content %}
<div>
    <form action="" method="post">
        <label>Username:</label><input type="text" name="username">
        <p><label>Password:</label><input type="password" name="password">
        <p><label>Confirm Password:</label><input type="password" name="confirmPassword">
        <p><input class="btn btn-default" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
