<!doctype html>
<html>
  <head>
    <title>Login</title><!--{% block title %}{% endblock %}-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="static/jquery.min.js"></script>
	<script src="static/bootstrap.min.js"></script>
    <!--{% block head %}{% endblock %}-->
  </head>
  <body>
  	<div id="content" class="container-fluid login-card">
  		<div id="banner" class="row">
  			<div class="span12">
  				<!--{% block header %}
  				{% endblock %}--><h4> Login Page </h4>
  			</div>
  		</div>
		<div class="span12">
      <div>
        <form action="" method="post">
            <label>Username:</label><input type="text" name="username">
            <p><label>Password:</label><input type="password" name="password">
            <input class="btn btn-default" type="submit" value="Login">
        </form>
        <a href="{{ url_for('register') }}">Create Account</a>
      </div>
			<!--{% block content %}{% endblock %}-->
		</div>
	  		<div class="span12">
				<!--{% with messages = get_flashed_messages() %}
				  {% if messages %}
				    {% for message in messages %}
						{{ message }}
				    {% endfor %}
				  {% endif %}
				{% endwith %}-->
			</div>
	</div>


  </body>
</html>